.selected {
    /* color: red; */
    border: black 1px solid;
    /* margin-left: auto; */
    /* margin-right: auto; */
    opacity: 0.5;
    /* opacity: 50%; */
}

.test {
    color: red;
    background-color: black;
}

test {
    color: red;
    background-color: black;
}

layout * {
    color: blue;
    background-color: green;
}

#background {
    background-color: black;
    color: black;
    /* opacity: 0.7; */
}